<h1>ceoDemitri Tech Blog</h1>

# fix the count variable
<p class="works">For now, we have <%= Article.public_count %> blogs and counting! A blog about my journey learning to code. The highs and the lows. Enjoy.</p>
<hr />

<ul>
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <li>
        <%= link_to article.title, article, :class => 'blog' %>
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to "New Article", new_article_path, :class => 'wonder' %>
